<ion-content [fullscreen]="true" class="container">
  <ion-row class="logo">
    <ion-col class="ion-text-center">
      <img src="assets/icon/favicon.png" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="email"></ion-input>
      </ion-item>t a
      <ion-item>
        <ion-input label="password" labelPlacement="floating" placeholder="*********"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>